@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul{
	margin:0;
	padding:0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
body {
	font-family: "微软雅黑","Microsoft Yahei",Helvetica,Verdana,sans-serif ! important;
	background:#fff;
	font-size:1em;
}
html,
body{
	height:100%;
}
input,textarea,select{
	font-family: "微软雅黑","Microsoft Yahei",Helvetica,Verdana,sans-serif ! important;
}
a{
	color:#333;
	text-decoration:none;
}
li{
	list-style:none;
}
h1{
	font-size:32px;
}
h2{
	font-size:24px;
}
h3{
	font-size:18px;
}
h4{
	font-size:16px;
}
h5{
	font-size:13px;
}
img{
	border:none;
}
.container{
	width:100%;
	height:100%;
}
input{
	font-size:14px;
	border:none;
	outline:none;
	background:transparent;
}
input[type="button"],
input[type="submit"],
input[type="reset"]{
	font-size:17px;
	-webkit-appearance: none;
}
.clearfix:after {
  clear: both;
}