.container.bg{
	background-image:url(../images/bg.png);
	background-size:cover;
	height:100%;
	position:relative;
}

.wrapper{	
	width:80%;
	margin:auto;	
}
.v-align{
	position:absolute;
	top:50%;
	left:10%;
	-webkit-transform:translate(0,-50%);
}

.item{
	width:100%;
	border-radius:20px;
	margin-bottom:15px;
	position:relative;
}
.item2 span{
	position:absolute;
	left:20px;
	top:7px;
}
.item2 input{
	padding:10px;
	height:35px;
	box-sizing:border-box;
	width:100%;
	padding-left:60px;
	border-radius:20px;
	background:rgba(255,255,255,0.5);
	border:1px solid #efb000;	
}

.btn2 input{
	font-size:17px;
	color:#fff;
	width:100%;
	height:40px;
	line-height:40px;
	border-radius:20px;
	border:1px solid #efb000;
	background-color:#efb000;
	margin-top:15px;
	
}

span.pwd{
	background-image:url(../images/pwd.png);
}

span.account{
	background-image:url(../images/account.png);
}
.item span{
	text-indent:-9999px;
	position:absolute;
	left:0px;
	top:7px;
	width:40px;
	height:40px;
	background-size:40px 40px;
	background-position:center -9px;
}
.item input{
	padding:10px;
	height:35px;
	box-sizing:border-box;
	width:100%;
	padding-left:40px;
	color:#fff;
	border-bottom:1px solid #efb000;
	font-size:14px;	
}
.item input::-webkit-input-placeholder {
	color:#fff;
}

.btn input{
	font-size:20px;
	color:#fff;
	width:100%;
	height:40px;
	line-height:40px;
	border:1px solid #efb000;
	background-color:#efb000;
	margin-top:15px;
	border-radius:0;
}
.item-register input{
	background:transparent;
	border:1px solid #efb000;
	color:#fff;
}