<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>*.action</url-pattern>
  </filter-mapping>
  
  <servlet>
	   <servlet-name>crudServ</servlet-name>
	   <servlet-class>servlet.crudServ</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>crudServ</servlet-name>
	    <url-pattern>/crudServ</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
	   <servlet-name>WxDo</servlet-name>
	   <servlet-class>wxtry.WxDo</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>WxDo</servlet-name>
	    <url-pattern>/index0.jsp</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>Showmap</servlet-name>
	   <servlet-class>servlet.Showmap</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Showmap</servlet-name>
	    <url-pattern>/indexx.jsp</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>EdDo</servlet-name>
	   <servlet-class>wxtry.EdDo</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>EdDo</servlet-name>
	    <url-pattern>/EdDo</url-pattern>
	</servlet-mapping>
	
	
	
	<filter>
	     <filter-name>Index</filter-name>
	     <filter-class>filter.Index</filter-class>
	</filter>
	<filter-mapping>
	     <filter-name>Index</filter-name>
	     <url-pattern>/index.jsp</url-pattern>
	</filter-mapping>
	<servlet>
	  <servlet-name>le11Serv</servlet-name>
	  <servlet-class>servlet.le11Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le11Serv</servlet-name>
	  <url-pattern>/le11Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le111Serv</servlet-name>
	  <servlet-class>servlet.le111Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le111Serv</servlet-name>
	  <url-pattern>/le111Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le23Serv</servlet-name>
	  <servlet-class>servlet.le23Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le23Serv</servlet-name>
	  <url-pattern>/le23Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le13Serv</servlet-name>
	  <servlet-class>servlet.le13Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le13Serv</servlet-name>
	  <url-pattern>/le13Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le14Serv</servlet-name>
	  <servlet-class>servlet.le14Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le14Serv</servlet-name>
	  <url-pattern>/le14Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le15Serv</servlet-name>
	  <servlet-class>servlet.le15Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le15Serv</servlet-name>
	  <url-pattern>/le15Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le16Serv</servlet-name>
	  <servlet-class>servlet.le16Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le16Serv</servlet-name>
	  <url-pattern>/le122.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le21Serv</servlet-name>
	  <servlet-class>servlet.le21Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le21Serv</servlet-name>
	  <url-pattern>/le21Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le22Serv</servlet-name>
	  <servlet-class>servlet.le22Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le22Serv</servlet-name>
	  <url-pattern>/le22Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le3Serv</servlet-name>
	  <servlet-class>servlet.le3Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le3Serv</servlet-name>
	  <url-pattern>/le3Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le333Serv</servlet-name>
	  <servlet-class>servlet.le333Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le333Serv</servlet-name>
	  <url-pattern>/le333Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le4Serv</servlet-name>
	  <servlet-class>servlet.le4Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le4Serv</servlet-name>
	  <url-pattern>/le4Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le51Serv</servlet-name>
	  <servlet-class>servlet.le51Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le51Serv</servlet-name>
	  <url-pattern>/le51Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le52Serv</servlet-name>
	  <servlet-class>servlet.le52Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le52Serv</servlet-name>
	  <url-pattern>/le52Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le53Serv</servlet-name>
	  <servlet-class>servlet.le53Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le53Serv</servlet-name>
	  <url-pattern>/le53Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	  <servlet-name>le54Serv</servlet-name>
	  <servlet-class>servlet.le54Serv</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>le54Serv</servlet-name>
	  <url-pattern>/le54Serv</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>SendMessageServlet</servlet-name>
	  <servlet-class>servlet.SendMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>SendMessageServlet</servlet-name>
	  <url-pattern>/SendMessageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>Information</servlet-name>
	  <servlet-class>servlet.Information</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Information</servlet-name>
	  <url-pattern>/Information</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>Login</servlet-name>
	  <servlet-class>servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Login</servlet-name>
	  <url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>Upload</servlet-name>
	  <servlet-class>servlet.Upload</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Upload</servlet-name>
	  <url-pattern>/index.php</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>Upload2</servlet-name>
	  <servlet-class>servlet.Upload2</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>Upload2</servlet-name>
	  <url-pattern>/index2.php</url-pattern>
	</servlet-mapping>
  
  
  
  </web-app>
