html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

label {
    font-size: 12px;
}
.clear {
    clear: both;
}
.collect {
    display: block;
    background: url(../image/collect.png);
    width: 65px;
    height: 86px;
    float: right;
    margin-right: 50px;
}
#container {
    width: 970px;
    height: 1000px;
    margin: 0 auto;
}
#banner {
    height: 218px;
    background: url(../image/banner.jpg) no-repeat;
}
#nav {
    background:url(../image/nav.jpg) repeat-x;
    height: 40px;
    margin: 0;
}
#nav li {
    line-height: 40px;
    height: 40px;
    width: 100px;
    text-align: center;
    float: left;
}
#nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
#nav li a:hover {
    color: #ef7d0a;
}